<h1>Notre sélection de voitures</h1>
<% @cars.each do |car| %>
<%= image_tag car.photo_url, width: 400 %>
<h2><%= car.brand %></h2>
<h3><%= car.model %></h3>
<p><%= car.description %></p>
<p><%= car.price_per_day %> € par jour</p>
<% end %>
